html, body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue";
}
/* @group Background */

.top {
	position: absolute;
	top: 0;
	display: block;
	bottom: auto;
	left: auto;
	right: auto;
	width: inherit;
	height: 27px;
	margin: 0;
	z-index: 1;
}

.middle {
	display: block;
	position: absolute;
	width: inherit;
	bottom: auto;
	top: 0;
	right: auto;
	left: auto;
	height: inherit;
	margin: 0;
	z-index: 1;
}

.bottom {
	display: block;
	position: absolute;
	bottom: 0;
	top: auto;
	right: auto;
	left: auto;
	height: 35px;
	margin: 0;
	width: inherit;
	z-index: 1;
}

.a1 {
	background: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 31px;
	height: inherit;
	display: block;
	right: auto;
	bottom: auto;
}

.a2 {
	background: repeat-x;
	height: inherit;
	position: absolute;
	text-align:;
	display: block;
	bottom: auto;
	width: auto;
	left: 31px;
	right: 31px;
}

.a3 {
	background: no-repeat;
	width: 31px;
	height: inherit;
	top: 0;
	position: absolute;
	right: 0;
	display: block;
	bottom: auto;
	left: auto;
}

.b1 {
	position: absolute;
	top: 27px;
	left: 0;
	width: 31px;
	height: auto;
	display: block;
	bottom: 35px;
	right: auto;
	background: repeat-y;
}

.b2 {
	background: .6d6d6d repeat;
	width: auto;
	height: auto;
	position: absolute;
	top: 27px;
	left: 31px;
	display: block;
	right: 31px;
	bottom: 35px;
}

.b3 {
	display: block;
	top: 27px;
	right: 0;
	bottom: 35px;
	left: auto;
	width: 31px;
	position: absolute;
	height: auto;
	background: repeat-y;
}

.c1 {
	background: no-repeat;
	display: block;
	width: 31px;
	height: inherit;
	position: absolute;
	left: 0;
	top: 0;
	right: auto;
	bottom: auto;
}

.c2 {
	background: repeat-x;
	display: block;
	height: inherit;
	width: auto;
	position: absolute;
	left: 31px;
	right: 31px;
	top: auto;
	bottom: auto;
}

.c3 {
	background: no-repeat;
	display: block;
	width: 31px;
	height: inherit;
	right: 0;
	top: 0;
	left: auto;
	position: absolute;
	bottom: auto;
}
	
/* @end */

/* @group Front */

#front {
	width: 216px;
/*  height: 208px;*/
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

#iButton {
	display: block;
	position: absolute;
	right: 30px;
	z-index: 10;
	bottom: 30px;
}

/* @group TopBar */

#topbar {
	position: relative;
	top: 0;
	left: 0;
	width: 216px;
	z-index: 2;
	padding-bottom: 7px;
}

#topbartop {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 216px;
	height: 19px;
	margin: 0;
	padding: 0;
	background-image: url(images/background_bar_top.png);
}

#topbarmiddle {
	width: 216px;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	top: 19px;
	left: 0;
	bottom: 28px;
	background: url(images/background_bar_middle.png) repeat-y;
}

#topbarbottom {
	width: 216px;
	height: 28px;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url(images/background_bar_bottom.png);
}

/* @end */

/* @group StockBar */

#stockbars {
    position: relative;
    padding: 5px 9px;
}

.stockbar {
	height: 29px;
	position: relative;
	z-index: 5;
	background: url(images/light_blue_bar.png) no-repeat;
	color: white;
	text-shadow: #666666 0px -1px 1px;
	font: 14px "Helvetica Neue";
	text-transform: lowercase;
}

.stockbar.selected {
	background: url(images/dark_blue_bar.png) no-repeat;
}

.stockclick {
	display: block;
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 198px;
	height: 29px;
	z-index: 2;
}

.stockname {
	margin: 0;
	padding: 1px 0 0;
	display: block;
	position: absolute;
	top: 5px;
	left: 12px;
	z-index: 1;
}

.stockvalue {
	margin: 0;
	padding: 1px 0 0;
	display: block;
	position: absolute;
	top: 5px;
	text-align: right;
	right: 73px;
	z-index: 1;
}

.stockchange,
.stockchange.positive {
	margin: 0;
	padding: 1px 3px 0 0;
	display: block;
	position: absolute;
	top: 5px;
	left: 129px;
	background-image: url(images/green_change.png);
	width: 52px;
	height: 17px;
	text-align: right;
	z-index: 3;
}

.stockchange.negative {
	background-image: url(images/red_change.png);
}

/* @end */

/* @group Graph/Table */

/* @group RF Table */

#rfTableDiv {
	display: none;
	position: absolute;
	width: 184px;
	height: 103px;
	margin: 0;
	padding: 0;
	left: 11px;
	z-index: 2;
	bottom: 12px;
	border-collapse: collapse;
	overflow: hidden;
}

#rfButton {
	display: block;
	z-index: 5;
	position: absolute;
}

#risersFallersTable {
	margin: 0;
	padding: 0;
	font: 10px/1 "Helvetica Neue";
	border-collapse: collapse;
	width: 100%;
}

#risersFallersTable thead {
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	border-bottom: 1px solid black;
	padding: 0;
}

#risersFallersTable thead tr td {
	padding: 0 0 1px;
}

#risersFallersTable tbody tr td {
	padding: 0 3px;
}

#risersFallersTable * .posChange {
	border-collapse: collapse;
	text-align: right;
	color: green;
}

#risersFallersTable * .negChange {
	border-collapse: collapse;
	text-align: right;
	color: red;
}

#risersFallersTable * .oddRow {
	border-bottom: 1px dotted silver;
}

#risersFallersTable * .evenRow {
	border-bottom: 1px dotted silver;
}

.risersColumn .rightColumn {
	border-right: 1px solid black;
}



/* @end */

#graphMessage {
	position: absolute;
	z-index: 5;
	bottom: 51px;
	left: 28px;
	width: 145px;
	height: 23px;
	display: block;
	text-align: center;
	color: white;
	font: 12px Helvetica, Arial;
	background: url(images/graph_message.png) no-repeat;
	margin: 0;
	padding-top: 6px;
}

#graphslideout {
	width: 206px;
	height: 151px;
	background: url(images/graph_slideout.png) no-repeat;
	margin: -45px 5px 0 5px;
	padding: 0;
	display: block;
	position: relative;
	z-index: 1;
	bottom: 0;
}

#chartcanvas {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	left: 8px;
	z-index: 1;
	bottom: 16px;
	background-color: transparent;
}

/* @group SelectPeriodBar */

#selectPeriodBar {
    width: 177px;
    height: 39px;
    display: none;
    z-index: 3;
    background: url(images/select_period_bar.png) no-repeat;
    position: absolute;
    left: 14px;
    bottom: 70px;
    padding-top: 13px;
    padding-left: 7px;
}

#graphslideout:hover #selectPeriodBar {
    display: block;
}

.selectPeriodLabel {
    display: block;
    width: 18px;
    height: 15px;
    padding: 2px 0 0 3px;
    font: 11px Helvetica;
    color: #EEE;
    float: left;
    margin-right: 3px;
    -apple-dashboard-region: dashboard-region(control rectangle);
    -webkit-dashboard-region: dashboard-region(control rectangle);
}

.selectPeriodLabel.selected {
	background: url(images/selected_period.png) no-repeat;
}

#selectPeriodLabel1 {
	left: 7px;
}

#selectPeriodLabel2 {
	left: 30px;
}

#selectPeriodLabel3 {
	left: 54px;
}

#selectPeriodLabel4 {
	left: 78px;
}

#selectPeriodLabel5 {
	left: 101px;
	padding-left: 5px;
	width: 16px;
}

#selectPeriodLabel6 {
	left: 125px;
	padding-left: 5px;
	width: 16px;
}

#selectPeriodLabel7 {
	left: 148px;
	padding-left: 5px;
	width: 16px;
}

/* @end */

/* @group Labels */

/* @group Horizontal */

#horGrid {
	position: absolute;
	left: 7px;
	bottom: 30px;
	z-index: 2;
}

.horGridLabel {
	color: #333;
	font: 10px Helvetica, Arial;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	z-index: 2;
}

/* @end */

/* @group Vertical */

.vertGridLabel {
	color: #333;
	font: 10px Helvetica, Arial;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	left: 158px;
	z-index: 2;
}

#vertGridLabel1 {
	bottom: 103px;
}

#vertGridLabel2 {
	bottom: 86px;
}

#vertGridLabel3 {
	bottom: 66px;
}

#vertGridLabel4 {
	bottom: 45px;
}

#vertGridLabel5 {
	bottom: 27px;
}

/* @end */

/* @end */

/* @group SwitchRFGraph */

#switchRfGraph {
	position: absolute;
	display: none;
	width: 98px;
	height: 37px;
	margin: 0;
	padding: 0;
	background: url(images/switch_rf_graph_bkgd.png) no-repeat;
	bottom: 12px;
	left: 55px;
	z-index: 5;
}

#graphslideout.isindex:hover #switchRfGraph {
    display: block;
}

#switchRFSelect, #switchGraphSelect {
	display: block;
	position: absolute;
	z-index: 5;
	top: 6px;
	width: 39px;
	height: 26px;
	overflow: hidden;
	left: 8px;
	background-image: url(images/switch_rf_select.png);
	opacity: 0.0;
}

#switchGraphSelect {
	left: 51px;
	background-image: url(images/switch_graph_select.png);
}

#switchRFSelect.selected, #switchGraphSelect.selected {
    opacity: 1.0;
}

/* @end */

/* @end */

/* @end */

/* @group Back */

#back {
	width: 216px;
	height: 250px;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

#doneButton {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 14px;
	z-index: 5;
}

#yahooURL {
	cursor:pointer;
	display: block;
	width: 120px;
	height: 17px;
	margin: 0;
	padding: 0;
	border-width: 0;
	position: absolute;
	bottom: 44px;
	left: 17px;
	z-index: 10;
}

#broesURL {
	cursor:pointer;
	display: block;
	width: 89px;
	height: 16px;
	margin: 0;
	padding: 0;
	border-width: 0;
	position: absolute;
	bottom: 24px;
	left: 20px;
	z-index: 10;
}

/* @group Background pics */

#back_a1 {
	background: url(images/back_a1.png);
}

#back_a2 {
	background: url(images/back_a2.png);
}

#back_a3 {
	background: url(images/back_a3.png);
}

#back_b1 {
	background: url(images/back_b1.png);
}

#back_b2 {
	background: url(images/back_b2.png);
}

#back_b3 {
	background: url(images/back_b3.png);
}

#back_c1 {
	background: url(images/back_c1.png);
}

#back_c2 {
	background: url(images/back_c2.png);
}

#back_c3 {
	background: url(images/back_c3.png);
}

/* @end */

/* @group BackContent */

#backContent {
	display: block;
	position: absolute;
	z-index: 3;
	top: 15px;
	left: 19px;
}

#stockNameField {
	width: 100px;
	margin: 0 0 8px;
	padding: 2px;
	z-index: 2;
}

#stockNameSubmit {
	margin: 0;
	padding: 2px;
	z-index: 2;
}

#selectStock {
    float: left;
	width: 100px;
	margin: 0;
	padding: 2px;
	z-index: 2;
}

#updateInfo {
    clear: both;
	display: block;
	margin: 0;
	border-width: 0;
	z-index: 10;
	padding: 0;
	color: white;
	width: 174px;
	font-family: "Helvetica Neue";
}

#updateText {
	display: inline;
	margin: 0;
	padding: 0;
	color: #white;
	font-size: 12px;
	font-weight: bold;
}

#updateCheckbox {
	display: inline;
	margin: 0;
	padding: 0;
}

#updateFeedback {
	display: block;
	font-size: 11px;
	margin: 0;
	padding: 0;
	line-height: 13px;
}

#autosuggeststocks {
    position: absolute;
    left: 16px;
    top: 37px;
    background-color: #CCD7FF;
    z-index: 100;
    font-size: 13px;
    width: 184px;
    box-shadow: 0 4px 8px black;
    padding: 1px;
    cursor: pointer;
}

#autosuggeststocks .suggestion {
    padding: 3px 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#autosuggeststocks .suggestion:nth-child(odd) {
    background-color: #A3B7FF;
}

#autosuggeststocks .suggestion:hover {
    background-color: #7D99FF;
}

#autosuggeststocks .suggestion.selected {
    background-color: #5479FF;
    color: white;
}

#autosuggeststocks .suggestion.selected:hover {
    background-color: #2E5BFF;
}

/* @end */

/* @end */

/* @group Update */

#updatepanel {
    z-index: 100;
    display: none;
    width: 150px;
    background: rgba(37,37,37,0.95) no-repeat;
    border: 1px solid rgba(0,0,0,0.75);
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 5px 10px black;
    position: absolute;
    margin-top: 20px;
    margin-left: 50%;
    left: -75px;
    padding: 7px 10px;
    color: white;
    font-family: "Helvetica Neue";
}

#updatetext {
    position: relative;
	font-size: 14px;
    margin-bottom: 10px;
}

#updatetext p {
    margin-top: 0;
    margin-bottom: .4em;
}

#btnUpdateNo {
    float: left;
    margin-left: 5px;
}

#btnUpdateYes {
    float:  right;
    margin-right: 5px;
}

/* @end */