<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Euro Stocks Alpha</string>
	<key>CFBundleIdentifier</key>
	<string>eu.broes.widget.eurostocks-alpha</string>
	<key>CFBundleName</key>
	<string>Euro Stocks</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0alpha</string>
	<key>CFBundleVersion</key>
	<string>2.0alpha</string>
	<key>CloseBoxInsetX</key>
	<integer>9</integer>
	<key>CloseBoxInsetY</key>
	<integer>6</integer>
	<key>MainHTML</key>
	<string>EuroStocks.html</string>
</dict>
</plist>